.body{
    display: flex;
    justify-content: center;
}
.card {
    flex-grow: 1;
    margin: 5rem 2rem 0 2rem;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    max-width: 540px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
h1{
    margin: 1rem 3rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    margin: 0 3rem;
    position: relative;
}

.input label{
    display: flex;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}
.form input{
    position: absolute;
    width: 100%;
    height: 1.2rem;
    background-color: rgba(216, 216, 216, 0.979);
    border: none
}
.button{
    align-self: center;
    cursor: pointer;
    font-size: 1.2rem;
    border:2px solid #8aa2df;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    transition: 0.4s ease;
}
.button:hover{
background-color: #0066cc;
color: #fafafa;
}