.header {
  background-color: #0066cc;
  color: #fafafa;
  padding: 0 10%;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
    flex-grow: 2;
}
.links {
flex-grow: 3;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.header ul {
  list-style: none;
}
